body { 
	font-family: 'Microsoft Yahei','Helvetica', 'Arial', 'Sans-Serif';  
	margin: auto;
	width: 100%; 
	background-color: rgba(153,204,153,0.5);

	font-size: medium;
	line-height: 1.5;
}

body.pc{
	width: 70%;
}

a { text-decoration: none; color: #0040b1; }
a:hover {
	/*font-weight: bold;*/
}
a:visited { color: black;}

h1, h2, h3, h4 { 
	font-family: 'SimHei','Helvetica', 'Arial', 'Sans-Serif'; 
	margin: 0.5em 0;
}
h1 { font-size: 1.8em;  }
h2 { font-size: 1.6em; }
h3 { font-size: 1.4em; }
h4 { font-size: 1.2em; }

ul li{
	margin-bottom: 1em;
}

em{
	font-style: normal;
	font-weight: bold;
}
button,input{
	outline: none;
}
button{
	cursor: pointer;
}
input{
	padding: 0 0.3em;
}

/*============
common style class
==============*/

.panel{
	background-color: white;
	border: none;
	border-radius: 0.5em;
	/* box-shadow: 0 0 4px 0 #333,0 -1px 4px 0 #333 inset; */
	box-shadow: 2px 1px 4px 0 #333;
}

.inset{
	background-color: #9c9;
	background-color: rgba(153,204,153,0.5);
	box-shadow: 1px 1px 2px 0 #333 inset;
}

.outset{
	box-shadow: 0 0 4px 0 #888,0 -1px 4px 0 #888 inset;
}

.jump-link{
	display: block;
	position: fixed;
	top: 10px;
	right: 10%;
	text-align: center;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	line-height: 60px;
	
	border: none;
	background-color: white;
	border-radius: 0.5em;
}