ul{
	padding: 0;
	border-left: 2px solid black;
}

ul li{
	width: 70%;
	margin-bottom: 0.5em;
	border: 1px solid black;
	border-left: none;
	border-radius: 0 0.5em 0.5em 0 ;
	background-color: #333;
	list-style-type: none;
}

ul li span{
	width: 30%;
	border-right: 1px solid black;
	border-radius: 0 0.5em 0.5em 0 ;
	background-color: #ccc;
}

