a#home{
	display: block;
	position: fixed;
	left: 5%;
	top: 10%;
	width: 3em;
	height: 3em;
	border: 1px solid black;
	border-radius:1.5em; 
	color:green;
}

ul{
	padding: 0;
	border-left: 2px solid black;
}

ul li{
	width: 70%;
	margin-bottom: 0.5em;
	border: 1px solid black;
	border-left: none;
	border-radius: 0 0.5em 0.5em 0 ;
	background-color: #333;
	list-style-type: none;

	font-size: 0.7em;
}

ul li span{
	display: inline-block;
	width: 20%;
	border-right: 1px solid black;
	border-radius: 0 0.5em 0.5em 0 ;
	background-color: #ccc;
}
ul li a{
	color: rgb(255,255,0);
}

ul li a:visited{
	color: rgb(240,241,235);
}

