.down{
	background-color: #ffff88;
}
.nav-post-list{
	background-color: rgba(0,0,0,0.5);
	box-shadow: 0px 0px 8px 0 #333 inset;
}

div.input{
	width: 100%;
	margin: auto;
	background-color: rgba(255, 255, 255, 0.1);
	font-size: 0.7rem;
}
table{
	width: 100%;
	padding: 10px 0;
}
td{
	vertical-align: top;
	padding-top: 5px;
}
td:first-child{
	font-weight: bold;
	padding-left: 20px;
	width: 40px;
	padding: 10px 0 5px 20px;
}
td:last-child{
	line-height: 2em;
	line-height: 2.5;
}
table span{
	cursor: pointer;
	padding: 3px 12px 5px 5px;
	display: inline-block;
	margin: 0 8px;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 0px 4px 4px 0px;
	box-shadow: 0 0 2px 0 #888,0 -1px 2px 0 #888 inset;
	-webkit-user-select:none;
	-moz-user-select:none;
	-o-user-select:none;
	user-select:none;
	color: #000;
	line-height: 1.2;
}
.search{
	text-align: center;
	padding: 0.25rem 0;
	vertical-align: center;
}
.search>*{
	display: inline-block;
	height: 1.5rem;
	line-height: 1.5rem;
	margin: 0.25rem;
	font-size: 100%;
}
.search input{
	padding: 0 0.2rem;
	border-radius: 5px;
	box-shadow: none;
	border: none;
	background-color: rgba(153,204,153, 0.3);
	box-shadow: 1px 1px 2px 0 #000 inset;
	outline: none;
	color: #fff;
}
.search button{
	width: 3rem;
	border: none;
	border-radius: 4px;
	outline: none;
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.8);
	position: relative;
	top: 1px;
}
.search button:active{
	box-shadow: none;
}

.articles{
	list-style-type: none;
	padding-top: 1px;
	padding-left: 0;
	color: #ffe;
}
.articles li{
	position: relative;
	margin: 0;
	margin-left: -8px;
	margin-bottom: 0rem;
	border-bottom: 4px solid transparent;
	border-top: 4px solid transparent;
	border-left: 8px solid transparent;
}
.articles li:hover{
	border-left: 8px solid #D96F32;
}
.articles li a:link{
	background-color: rgba(255, 255, 255, 0.1);
	display: block;
	font-weight: bold;
	color: #eee;
	text-decoration: none;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.articles li a:visited{
	font-size: 40px;
	color: #888;
}
.articles li a:hover{
	background-color: rgba(255, 255, 255, 0.2);	
	color: #eee;
}
.articles li span{
	display: inline-block;
	padding: 1em 0.5rem;
	line-height: 2rem;
	vertical-align: middle;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.articles li .date{
	margin-right: 2.5rem;
}
@media only screen and (max-width: 50em){
	.articles li .date{
		font-size: 0.6rem;
		margin-right: 0.5rem;
	}
}
@media only screen and (max-width: 35em){
	.articles li span{
		display: block;
		font-size: 0.7rem;
	}	
	.articles li .date{
		display: none;
	}
	.articles li .title{
		padding-right: 1.2rem;
		max-width: 90%;
	}
}