#home{top: 10px;}
#totop{top: 100px;}


div.wrap{
	width: 60%;
	min-width: 480px; 
	max-width: 1080px;
	margin:  0 auto;
	padding-bottom: 10px;
}

h1{
	text-align: center;
}
ul{
	width: 90%;
	list-style-type: none;
	margin: auto;
	border-collapse: separate;
	border-spacing:0px  10px ;
}
ul li{
	overflow: hidden;
	background-color: #ccc;
	margin: 8px 0;
	padding: 5px;


	background-color: #9c9;
	background-color: rgba(153,204,153,0.5);
	box-shadow: 1px 1px 2px 0 #333 inset;
}
li{
	line-height: 40px;
}
li a,
li span{
	display: inline-block;
	vertical-align: middle;
}
li span{
	width: 70%;
	padding-left: 0.5em;
}
li a{
	box-shadow: 0 0 4px 0 #888,0 -1px 4px 0 #888 inset;
	background-color: white;
	padding: 0 5px;
	margin: 0 5px;
	border-radius: 0.3em;
}

li a:visited{
	color: #444;
}