body{
	margin-top: 0;
	margin-bottom: 0;
}
body div.wrap{
	background: -webkit-linear-gradient(#ffffff 25%,#d8d8b2 70%);
	background: -o-linear-gradient(#ffffff 25%,#d8d8b2 70%);
	background: -moz-linear-gradient(#ffffff 25%,#d8d8b2 70%);
	background: -ms-linear-gradient(#ffffff 25%,#d8d8b2 70%);
	background: linear-gradient(#ffffff 25%,#d8d8b2 70%);

}

body div.container{
	/*background: url(/images/bird.png) bottom right no-repeat;*/
	background: url(/images/fishing-boat_s.png) no-repeat bottom right;
	background-size: 60% 40%;
	border-left: 2px solid #666;
	border-right: 2px solid #666;
}
ul{
	padding: 0;
	margin: 0;
	font-size: 1.5em;
}
ul li{
	width: 8em;
	margin-bottom: 0.6em;
	list-style-type: none;
	color: black;
}

ul li a{
	display: block;
	color: #007e7e;
	padding-left: 0.5em;
	line-height: 1.5em;
}
ul li a:visited{
	color: #003333;
}

ul li div{	
	overflow: hidden;
	height: 1.5em;
	margin-right: 1em;
	border-radius: 0 1em 1em 0;
	border: 1px solid #666;
	border-left: 0;
	background-color: #e0e0e0;
	background: -webkit-linear-gradient(#ffffff,#e0e0e0);
	background: -o-linear-gradient(#ffffff,#e0e0e0);
	background: -moz-linear-gradient(#ffffff,#e0e0e0);
	background: -ms-linear-gradient(#ffffff,#e0e0e0);
	background: linear-gradient(#ffffff,#e0e0e0);
	text-align: left;
}


header{
	border: none;
	margin-top: 0;
	margin-bottom: 1em;
	padding: 1em 0 0 10%;
	border-radius: 0 0 1em 1em;
	background-color: #777777;
	background: -webkit-linear-gradient(#cccccc,#000000);
	background: -o-linear-gradient(#cccccc,#000000);
	background: -moz-linear-gradient(#cccccc,#000000);
	background: -ms-linear-gradient(#cccccc,#000000);
	background: linear-gradient(#cccccc,#000000);

	font-size: 200%;
	color: white;
	text-align: left;
	vertical-align: middle;
}

header a:link,
header a:visited,
header a:hover,
header a:active{
	color: yellow;
}

header span{
	font-family: 'KaiTi','Helvetica', 'Arial', 'Sans-Serif';
	display: block;
	padding-bottom: 0.3em;
	font-size: 0.5em;
	text-align: right;
	padding-right: 1.5em;
}