header{
	font-size: 150%;
	border-left: 2px solid blue;
}
header div{
	text-align: center;
}
div.tag_box{
	border-left: 2px solid blue;
}

div.tag_box:first-child{
	padding-top: 10px;
	height: 30px;
	border-top: 1px solid black;
}
div.tag_box:last-child{
	padding-top: 10px;
	height: 30px;
	border: 1px solid black;
	float: left;

}