body>div.container{
	background: #fff url(/images/bird.jpg) bottom right no-repeat;
}
ul{
	border-left: 2px solid #666;
	padding: 0;
}

ul li{
	width: 30%;
	margin-top: 20px;
	border-top: 1px solid #666;
	list-style-type: none;
	font-weight: bold;
	color: black;
}

ul li a{
	color: #2c0588;
}

ul li div{	
	position: relative;
	top: 0;
	right: 0;
	bottom: 0;
	left: 15%;
	height: 1.5em;
	margin-right: 1em;
	border-radius: 1em;
	border: 1px solid #666;
	border-top: 0;
	text-align: center;
}
ul li:first-child{
	border: 0;
	width: 100%;
	margin-bottom: 1em;
	font-size: 150%;
}

ul li:first-child div{
	position: static;
	padding: 1em 0 2em;
	margin: 0;
	height: 2em;
	width: 100%;
	border-radius: 1em;
	
	background-color: #666;
	color: white;
	text-align: left;
	vertical-align: middle;
}

ul li:first-child a{
	color: yellow;
}

ul li:first-child span{
	display: block;
	font-size: 0.5em;
	text-align: right;
}