<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{post.title}}</title>
	<link rel="stylesheet" href="{{site.baseurl}}/css/main.css">
	<link rel="stylesheet" href="{{site.baseurl}}/css/article.css">
	<script src="/js/article.js"></script>
</head>
<body id="body">
	<div class="wrap">

		<a id="home" href="/" class="panel jump-link">主页</a>
		<a href="{{site.baseurl}}/post_list/posts.html" id="posts" class="panel jump-link">文章</a>
		<a href="#body" id="totop" class="panel jump-link">顶部</a>

		<h1>{{ page.title }}</h1>
		<p class="meta">{{ page.date | date_to_string }}</p>
		<div class="post panel">
	  		{{ content }}
		</div>
	</div>
</body>
</html>