<!DOCTYPE html>
<html lang="zh-CN">

<head>
	<meta charset="UTF-8">
	<title>{{post.title}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="{{site.baseurl}}/css/main.css">
	<link rel="stylesheet" href="{{site.baseurl}}/css/article.css">
	<link rel="stylesheet" href="{{site.baseurl}}/css/monokai.css">
</head>

<body>
	<div id="app">

		<!-- 文章目录 -->
		<div id="catalog-container" class="catalog-container">
			<p class="level-controller">
				展开级别：
				<button @click="modifyLevel(-1)" class="level-btn level-minus">-</button>
				<span class="level-now" v-html="expandLevel"></span>
				<button @click="modifyLevel(1)" class="level-btn level-add">+</button>
			</p>
			<blog-catalog class="catalogs" :tree-node="tree" :expand-level="expandLevel"></blog-catalog>
		</div>

		<!-- 更多文章导航 -->
		<div class="post-nav">
			<div class="post-list">
				<a class="home-link" href="/">返回首页</a>
			</div>
			<div class="prev no-wrap">
				上一篇：{% if page.previous %}<a href="{{page.previous.url}}">{{page.previous.title}}</a>{% else %}没有更多了{% endif %}
			</div>
			<div class="next no-wrap">
				下一篇：{% if page.next %}<a href="{{page.next.url}}">{{page.next.title}}</a>{% else %}没有更多了{% endif %}
			</div>
		</div>

		<!-- 文章内容区 -->
		<div class="article-wrap">
			<article id="article-container">
				<h1 id="post-title">{{ page.title }}</h1>
				<p class="meta">{{ page.date | date: "%Y-%m-%d" }}</p>
				<div class="post" ref="post">
					{{ content }}
				</div>
				<p>（本文完）</p>
			</article>
		</div>

	</div>

	<script src="https://cdn.bootcss.com/vue/2.5.21/vue.js"></script>
	<script src="/js/article.js"></script>
</body>

</html>