<!DOCTYPE html>
<html lang="zh-CN">

<head>
	<meta charset="UTF-8">
	<title>{{post.title}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="{{site.baseurl}}/css/main.css">
	<link rel="stylesheet" href="{{site.baseurl}}/css/article.css">
	<link rel="stylesheet" href="{{site.baseurl}}/css/monokai.css">
</head>

<body>
	<div id="app">
		<div id="catalog-container" class="catalog-container">
			<blog-catalog :tree-node="tree"></blog-catalog>
		</div>

		<!-- wrap panel right -->
		<div class="article-wrap">
			<article id="article-container">
				<h1>{{ page.title }}</h1>
				<p class="meta">{{ page.date | date: "%Y-%m-%d" }}</p>
				<div class="post" ref="post">
					{{ content }}
				</div>
			</article>
		</div>
	</div>

	<!-- <nav id="top-nav" class="top-nav panel">
		<ul>
			<li>
				<a class="nav-home" href="/index.html">
					<img src="/images/base/home.png" alt="主页">
				</a>
			</li>
			<li>
				<a class="nav-posts" href="/pages/post_list.html">文章</a>
			</li>
			<li>
				<a class="nav-proj" href="/pages/proj.html">项目</a>
			</li>
			<li>
				<a class="nav-me" href="/pages/intro.html">我</a>
			</li>
		</ul>
	</nav> -->

	<!-- 
	<div class="sidebar">
		<a href="#" class="to-top"></a>
		<a href="javascript:;" class="nav-ctrl" id="navCtrl">目录</a>
		<a href="javascript:;" class="mode" id="mode">极简</a>
	</div> -->

	<script src="https://cdn.bootcss.com/vue/2.5.21/vue.js"></script>
	<script src="/js/article.js"></script>
</body>

</html>