<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{page.title}}</title>
    {%for item in page.css%}
        <link rel="stylesheet" href="../css/{{item}}.css"> 
    {% endfor %}
</head>
<body>
    <div id="top-nav" class="top-nav panel">
        <ul>
            <li><a class="nav-home" href="/index.html"><img src="/images/base/home.png" alt="主页"></a></li>
            <li><a class="nav-posts" href="/post_list/posts.html">文章</a></li>
            <li><a class="nav-proj" href="/proj/proj.html">项目</a></li>
            <li><a class="nav-me" href="/about/intro.html">我</a></li>
        </ul>
    </div>
    {{content}}
    {%for item in page.js%}
        <script src="/js/{{item}}.js"></script> 
    {% endfor %}

</body>
</html>