<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{page.title}}</title>
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/favicon.ico" type="image/x-icon">
    {%for item in page.css%}
        <link rel="stylesheet" href="../css/{{item}}.css"> 
    {% endfor %}
</head>
<body class="star-bg attached-bg">
    <div id="top-nav" class="top-nav">
        <ul>
            <li><a class="nav-home" href="/index.html"><img src="/images/base/home.png" alt="主页"></a></li>
            <li><a class="nav-post-list" href="/pages/post_list.html">文章</a></li>
            <li><a class="nav-proj" href="/pages/proj.html">项目</a></li>
            <li><a class="nav-me" href="/pages/intro.html">我</a></li>
        </ul>
    </div>
    <div class="import-content">
     {{content}}
    </div>
    {%for item in page.js%}
        <script src="/js/{{item}}.js"></script> 
    {% endfor %}

</body>
</html>