<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{page.title}}</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    {%for item in page.css%}
    <link rel="stylesheet" href="../css/{{item}}.css">
    {% endfor %}
    <style>
        .back-to-home {
            position: fixed;
            z-index: 300;
            left: 5px;
            top: 5px;
            height: 18px;
            padding: 4px;
            line-height: 18px;
            font-size: 18px;
            background-color: #fff;
            border-radius: 9px;
        }
    </style>
</head>

<body>
    {{content}}

    <a href="/" class="back-to-home no-print" id="back-to-home">返回首页</a>

    {%for item in page.js%}
    <script src="/js/{{item}}.js"></script>
    {% endfor %}

</body>

</html>