<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{page.title}}</title>
	<link rel="stylesheet" href="{{site.baseurl}}/css/main.css">
	<link rel="stylesheet" href="{{site.baseurl}}/css/post_list.css">
	<script src="{{site.baseurl}}/js/post_list.js"></script>
	<script src="/js/mobile.js"></script>

</head>
<body class="pc">
<div class="wrap">
	<div id="home">
		<a href="../">Home</a>		
	</div>
	<div id="sort">
		<button id="date" type="button" >日期排序</button>
		<button id="name" type="button" >文件名排序</button>
		<input type="text">
		<button id="search" type="button" >搜索</button>
	</div>
	{{content}}
	<ul>
		{%for post in site.posts%}
		{% if {{page.tag_name}} == post.tag_name %}
	    <li><span>{{ post.date | date_to_string }}</span>&nbsp;<a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
	    {% endif %}
		{% endfor %}
	</ul>
</div>
</body>
</html>