<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{page.title}}</title>
	<link rel="stylesheet" href="../css/main.css">
	<link rel="stylesheet" href="../css/post_list.css">
	<script src="../js/post_list.js"></script>
</head>
<body id="body">
<div class="wrap panel">
	<a class="panel jump-link" id="home" href="../">主页</a>
	<a href="#body" class="panel jump-link" id="totop" >顶部</a>
	<h1>Articles</h1>
	<div class="input">
		<table>
			<tr>
				<td>分类</td>
				<td id="categories"></td>
			</tr>
			<tr>
				<td>标签</td>
				<td id="tags"></td>
			</tr>
		</table>
		<hr style="margin: 0px;">
		<div id="search">
			<input type="text" id="search-input" name="search-input">		
			<button for="search-input" class="" id="search-confirm">搜索</button>
		</div>
	</div>
	
	{{content}}
	<ul id="aticle-list">
		{%for post in site.posts%}
		    <li data-date="{{post.date}}" 
		    	data-title="{{post.title}}" 
		    	data-url="{{post.url}}" 
		    	data-tags="{{post.tags | array_to_sentence_string}}" 
		    	data-categories="{{post.categories | array_to_sentence_string}}">
		    	<a href="{{ post.url }}"><span>{{ post.date | date_to_string }}</span><span>{{ post.title }}</span></a>
		    </li>
		{% endfor %}
	</ul>
</div>
</body>
</html>