<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{page.title}}</title>
	<link rel="stylesheet" href="{{site.baseurl}}/css/main.css">
	<link rel="stylesheet" href="{{site.baseurl}}/css/post_list.css">
</head>
<body>
	<a id="home" href="../">Home</a>
	<h3>Articles about {{page.list_name}}:</h3>
	<p>{{page.tag_name}}</p>
	<ul>
		{%for post in site.tags.{{page.tag_name}}%}
	    <li><span>{{ post.date | date_to_string }}</span>&nbsp;<a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
		{% endfor %}
	</ul>
</body>
</html>