<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{page.title}}</title>
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/top.css">
</head>
<body>
	<ul>
		<li>
			<div>
				<a href="">Jacktown</a>'s Blog<br/><br/>
				<span>有志者&nbsp;事竟成&nbsp;破釜沉舟&nbsp;百二秦关终属楚&nbsp;&nbsp;</span>
  				<span>苦心人&nbsp;天不负&nbsp;卧薪尝胆&nbsp;三千越甲可吞吴&nbsp;&nbsp;</span>
			</div>
		</li>
		<li>
			<div><a href="#">html+css</a></div>
		</li>
		<li>
			<div><a href="">javascript</a></div>
		</li>
		<li>
			<div><a href="">c</a></div>
		</li>
		<li>
			<div><a href="">数据结构与算法</a></div>
		</li>
		<li>
			<div><a href="">工具</a></div>
		</li>
		<li>
			<div><a href="">综合</a></div>
		</li>
	</ul>
</body>
</html>